---
title: Gallery > All
photos:
  - image: /yvfts/preview/1.png.webp
    caption: Magic from @yee
  - image: /yvfts/preview/2.png.webp
    caption: Cube World from @yee
  - image: /yvfts/preview/3.png.webp
    caption: Grafitti 1 from @nnillat
  - image: /yvfts/preview/4.png.webp
    caption: Yeed Run from @guyman147
  - image: /yvfts/preview/5.png.webp
    caption: Yeed Run Yamogus from @guyman147
  - image: /yvfts/preview/6.png.webp
    caption: 3-dimensional Among Us from @yee
  - image: /yvfts/preview/7.png.webp
    caption: Art Moderna from @nnillat
  - image: /yvfts/preview/8.png.webp
    caption: NoSpeed from @nnillat
  - image: /yvfts/preview/9.png.webp
    caption: SpeMongus from @guyman147
  - image: /yvfts/preview/10.png.webp
    caption: Longugus from @guyman147
  - image: /yvfts/preview/11.png.webp
    caption: Suspreme from @overlordethan
  - image: /yvfts/preview/12.png.webp
    caption: Stackmongus from @guyman147
  - image: /yvfts/preview/13.png.webp
    caption: yEAh Game from @nnillat
  - image: /yvfts/preview/14.png.webp
    caption: Pro Flag of yEAh Games from @guyman147
  - image: /yvfts/preview/15.png.webp
    caption: Picachu from @yee
  - image: /yvfts/preview/16.png.webp
    caption: Everyone from @guyman147
  - image: /yvfts/preview/17.png.webp
    caption: Hard to Draw from @overlordethan
  - image: /yvfts/preview/18.png.webp
    caption: Ripoff Ripoff Ripoff Ripoff Ripoff Dialga (Diealga) from @yee
  - image: /yvfts/preview/19.png.webp
    caption: Ripoff Dialga from @yee
  - image: /yvfts/preview/20.png.webp
    caption: Orangio from @yee
  - image: /yvfts/preview/21.png.webp
    caption: FishC from @yee
  - image: /yvfts/preview/22.png.webp
    caption: Electric Terrain from @yee
  - image: /yvfts/preview/23.png.webp
    caption: Binh uses Edge haha lol bad from @yee
  - image: /yvfts/preview/24.png.webp
    caption: Human Terrain from @yee
---
<html>
<head>
<style>
.button {
  border-radius: 4px;
  background-color: #ff4747;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 125px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  position: absolute
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
</style>
</head>
<body>
Gallery: <b>ALL</b>
<ul class="gallery">
	{% for photo in page.photos %}
		<li style="background-image: url('https://cdn.ynwk.org/img/general/placeholders/1x1.png')" data-echo-background="{{ site.baseurl }}{{ photo.image | resize: "800x800>"}}">
      <a title="{{ photo.caption }}" href="{{ site.baseurl }}{{ photo.image }}" data-id="#{{ photo.image | slugify }}" data-caption="{{ photo.caption }}"></a>  
    </li>
	{% endfor %}
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
</ul>

<div class="overlay">
	<a href="#" class="close">&#10005;</a>

	<a class="prev">&lsaquo;</a>
	<a class="next">&rsaquo;</a>
	<p class="caption"></p>
 <button class="button buy" onclick="replaceUrl()">Details</button>  


<script>
function replaceUrl() {
  var currentUrl = window.location.href;
  var newUrl = currentUrl.replace("#yvfts-preview-", "/trade/details/id/").replace("-png", "").replace("-webp", "");
  window.location.href = newUrl;
}
</script>
<script>
  function buyUrl() {
    var currentUrl = window.location.href;
    var newUrl = currentUrl.replace("#yvfts-preview-", "yvfts/buy/id/").replace("-png", "");
    window.location.href = newUrl;
  }
  </script>
	<img>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  if (window.location.host === "app.cloudcannon.com") {
    $('.gallery').find("a").click(function(e) {
      e.preventDefault();
      return false;
    });
  } else {
    var script = document.createElement("script");
    script.src = "{{ site.baseurl }}/js/lightbox.js";
    document.body.appendChild(script);
  }
</script>
{% include lazyload.html %}
</body>
</html>