<style>
.notification-top-bar {
	position: fixed;
	top: 0;
	left: 0;
	height: 40px;
	line-height: 40px;
	width: 100%;
	background: #ff4747;
	text-align: center;
	color: #FFFFFF;
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 14px;
  }
  .notification-top-bar p {
	padding: 0;
	margin: 0;
  }
  .notification-top-bar p a {
	padding: 5px 10px;
	border-radius: 3px;
	background: #FFF;
	color: #ff4747;
	font-weight: bold;
	text-decoration: none;
  }
</style>
<div class="notification-top-bar">
	<p style="padding-top:7px">We need help recovering lost YVFTs!&#160;&#160;<small><a href="https://projects.ynwk.net/project/24bb5d4c-71c6-45ab-8799-39b849f9f078">Info</a></small></p>
  </div>
  <br>
  <br>
<nav>
	<a class="editor-link btn" href="cloudcannon:collections/_data/navigation.yml" class="btn"><strong>&#9998;</strong> Edit navigation</a>
	{% for link in site.data.navigation %}
	{% assign class = "" %}

		{% if link.link == page.url %}
			{% assign class = class | append: " active" %}
		{% endif %}
		<a href="{% include relative-src.html src=link.link %}" class="{{ class }}">{{ link.name }}</a>
	{% endfor %}
</nav>